header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 5px;

}

aside {
    float: left;
}

aside h2 {
    font-size: 30px;
}

.searchbar {
    width: 100%;
    border-radius: 12%;
}

.searchBtn {
    width: 100%;
    border-radius: 12%;
    background-color: lightskyblue;
    color: white;
}